<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Note List</h2>
    <a th:href="@{/note/add}" class="btn btn-primary">Add Note</a>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- Вивід списку нотаток -->
        <tr th:each="note : ${notes}">
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
            <td>
                <a th:href="@{/note/edit(id=${note.id})}" class="btn btn-sm btn-primary">Edit</a>
                <form th:action="@{/note/delete}" method="post">
                    <input type="hidden" name="id" th:value="${note.id}">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>